.input {
    margin-bottom: 10px;
    border: medium none;
    background-color: transparent;
    font-weight: 400;
    text-align: center;
    padding: 8px;
}

.input:focus::placeholder {
    opacity: 0;
}

.light {
    color: var(--global-color-cream-white);
    border-bottom: var(--global-color-cream-white) solid 3px;
}

.dark {
    color: var(--global-color-cream-black);
    border-bottom: var(--global-color-cream-black) solid 3px;
}