.button {
    font-family: var(--global-font-family);
    font-size: var(--global-font-size-default);
    border: medium none;
    border-radius: 5px;
    width: 225px;
    height: 50px;
    margin: 0.5rem 0;
}

.dark {
    color: var(--global-color-cream-white);
    background-color:  var(--global-color-cream-black);
}

.light {
    color: var(--global-color-cream-black);
    background-color:  var(--global-color-cream-white);
}

.success {
    color: var(--global-color-cream-black);
    background-color: #7bc96a;
}