.pulsate {
    animation: pulsate 0.5s ease-out;
}

@keyframes pulsate {
    0% { transform: scale(1); }
    25% { transform: scale(1.25); }
    100% { transform: scale(1); }
}

.fadeIn {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 100 }
}